{%extends 'core/base.html'%}

{%block title%}
    Portada.
{%endblock%}

{% block background %} {%load static%} {% static 'core/img/home-bg.jpg' %} {%endblock%}

{%block headers%}
<h1>Patricio Leppe <br/> Desarrollador Fullstack</h1>
<span class="subheading"><h5>Hola, Bienvenido soy Patricio Leppe, desarrollador Fullstack y esta es mi web autoadministrable creada con templates en Django con arquitectura Modelo Vista Template y desplegada en <a style="color:white" target="_new" href="https://fly.io/" >Fly.io</a></h5></span>
{%endblock%}

{%block content%}

{%endblock%}
